# Security

## Authorization

For authorization for the API, we highly trust in the widely accepted industry standards protocols, like OAuth2 described in <a href='https://datatracker.ietf.org/doc/html/rfc6749'>RFC 6749</a>.

To be more specific, this API uses the "Client Credentials" as Authorization Grant.<br/>
<b>These Client Credentials you must obtain exclusively altogether with our Developer Center or Support.</b>

See the diagram below to see how it works:

<img class='lazy' src='images/loading.gif' data-src='images/oauth2_client_credentials.png' style='max-width: 600px;'/>

## Important notes

<aside class="warning">Do not use the credentials mentioned above in front-end devices. The credentials must be used exclusively by servers at back-end.</aside>

<aside class="notice">Re-use access-tokens between requests, respecting his expiration date. Use the refresh-token, when available, to keep consistency and performance.</aside>
